{% extends 'index.html' %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
{% block body %}
    <h1><u>MOVIES LIST</u></h1>

        <div class="container">
            <div class="row">
                {% for i in movies %}
                    <div class="col-md-3">
                        <div class="card" style="width: 18rem;">
                          <a href="{% url 'movieapp:moviedetail' i.id %}"><img src={{i.img.url}} width="200" height="250" class="card-img-top" alt="image"></a>
                          <div class="card-body">
                            <h5 class="card-title">{{i.name}}</h5>
                            <p class="card-text">{{i.disc}}</p>
                            <p class="card-text">{{i.year}}</p>
                            <a href="{% url 'movieapp:moviedetail' i.id %}" class="btn btn-primary">View</a>
                            <a class="btn btn-warning" href="{% url 'movieapp:update' i.id %}"><button>Edit</button></a>
                            <a class="btn btn-danger" href="{% url 'movieapp:delete' i.id %}"><button>Delete</button></a>
                          </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>

{% endblock %}
</body>
</html>